<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h4>Frequently Asked Questions</h4>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>What happened in Hoboken?</summary>
          <p>describe the devastation</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>What is the current status?</summary>
          <p>describe the status of things</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Another question?</summary>
          <p>Another answer.</p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Another question?</summary>
          <p>Another answer.</p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Another question?</summary>
          <p>Another answer.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Another question?</summary>
          <p>Another answer.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Another question?</summary>
          <p>Another answer.</p>
        </details>
      </li>
      <li class=''>
        <details class=''>
          <summary>Another question?</summary>
          <p>Another answer.</p>
        </details>
      </li>
    </ul>
  </div>
</div>
